@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: black;
  --padding: 60px;
  --font-xs: 11px;
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 24px;
  --font-xl: 34px;
}

@media (max-width: 800px) {
  body {
    --padding: 20px;
  }
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  height: auto; 
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}

main:focus {
  outline: none;
}

address {
  font-style: inherit;
}
