
.h2 {
  font-size: var(--font-lg);
  margin: 12px 0 6px 0;
}

.h5 {
  font-size: var(--font-sm);
  margin: 0 0 6px 0;
  text-transform: uppercase;
}

.p {
  font-size: var(--font-sm);
  margin-bottom: 4px;
}

.tags {
  font-size: var(--font-xs);
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tags a {
  color: currentColor;
  text-decoration: none;
  animation: color 0.3s ease-in-out;
}

.tags a:hover {
  color: #0a540d;
}

.linkButton {
  border: 1px solid black;
  border-radius: 50px;
  padding: 1px 14px;
  display: inline-flex;
  align-items: center;
  gap:6px;
  margin-top: 10px;
  font-size: var(--font-sm);
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease-in-out;
}
.linkButton:hover {
  background-color: #DFFF00;
}

.projects {
  background-color: white;
  color: black;
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.img {
  border-radius: 26px;
}

@media (max-width: 800px) {
  .projects {
    grid-template-columns: 100%;
    grid-gap: 40px;
  }
}